.hover-link {
  position: relative;
  display: flex;
  text-wrap: nowrap;
  overflow: hidden;
}
.hover-in {
  position: relative;
  transition: 0.3s;
}
.hover-in div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
}
.hover-link:hover .hover-in {
  transform: translateY(-100%);
  background: linear-gradient(135deg, #8b5cf6, #3b82f6, #06b6d4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
